{"lineSeparator":"\n"}
{"programFontSize":12,"textEditorFontSize":16,"textEditorFont":"Consolas"}
{"useSystemLookAndFeel":true,"loadPreviousFilesWhenOpened":true,"previouslyOpenedFiles":["C:\\Users\\chst0\\OneDrive\\Dokumente\\source.txt","C:\\Users\\chst0\\OneDrive\\Dokumente\\source.html","C:\\Users\\chst0\\OneDrive\\Dokumente\\.Privat\\Repositories\\Java\\VATE\\LICENSE.txt"],"usePreviousDimensionWhenCreated":true,"previousWidth":1106,"previousHeight":647}